@font-face {
    font-family: 'Digital-7';
    src:url('Digital-7.ttf.woff') format('woff'),
        url('Digital-7.ttf.svg#Digital-7') format('svg'),
        url('Digital-7.ttf.eot'),
        url('Digital-7.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.screen{
	display: inline-block;
  padding: 15px 25px;
  font-size: 30px;
  cursor: pointer;
  text-align: right;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Digital-7';
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.buttonCon {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff3232;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonCon:hover {background-color: #b22323}

.buttonCon:active {
  background-color: #b22323;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.buttonSym {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3232ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonSym:hover {background-color: #2323b2}

.buttonSym:active {
  background-color: #2323b2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonNum {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff9932;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonNum:hover {background-color: #b26b23}

.buttonNum:active {
  background-color: #b26b23;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

form{
	background-color: #d3d3d3 ;
	border-radius: 5px;
  width: 340px;

	box-shadow: 5px 10px #999;
	margin-left: 5px;

  padding: 1%;

}

		input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
